<div>
    <div id="education" class="container-fluid">
        <h1>Educación</h1>
    </div>
<div id="programa">
    <h3>Programación</h3>
        <h4>Building Interactive JavaScript Websites Course</h4>
            <a href="https://drive.google.com/file/d/1vEAet8b77djbIoy9X3Ae74l_xb_-qJw_/view?usp=share_link" class="btn btn-primary">ver certificado</a>
        
        <h4>Learn JavaScript Course</h4>
                <a href="https://drive.google.com/file/d/1pLRN3ej1GJ8NKrQaaw5Vsy4eH5oQef9l/view?usp=share_link" class="btn btn-primary">ver certificado</a>
           
        <h4>Learn HTML: Forms Course</h4>
            <a href="https://drive.google.com/file/d/1uguTg8bi8207rGZoV4NcEmr8frnmoEDo/view?usp=share_link" class="btn btn-primary">ver certificado</a>
        
        <h4>Learn HTML Course</h4>
            <a href="https://drive.google.com/file/d/1ssumSQLRLLmJZ1E9aC0v4aM8ZpGkrolf/view?usp=share_link" class="btn btn-primary">ver certificado</a>
        
        <h4>Learn CSS Course</h4>
            <a href="https://drive.google.com/file/d/1Az_nKXOy_18uzIjOkqBEFq1R0GlcGLpF/view?usp=share_link" class="btn btn-primary">ver certificado</a>
       
</div>
<div id="idioma">
    <h3>Idioma</h3>
            <h4>Ingles</h4>
            <a href="https://drive.google.com/file/d/1xcV0mFzXbROzS9RG4XtOepPETeMgUwyX/view?usp=share_link" class="btn btn-primary">ver certificado</a>
            <h4>Metodologias Agiles- Scrum</h4>
            <a href="https://drive.google.com/file/d/1EqDdoTh4Gi5L1DWIK5T3ItSdrIyFgOaF/view?usp=share_link" class="btn btn-primary">ver certificado</a>
</div>
</div>