<div class="container-fluid">
    <h1> Mis Proyectos</h1>
</div>
<ul>
  <li><div class="container-fluid">
        <br>
        <h3>App de Viajes</h3>
        <p>Permite registrar usuario, Iniciar sesion y guardar proximos viajes, <br>
          mostarlos y buscar opciones de restaurantes y hoteles por ciduad<br>
        Usando Angular, PHP , SQL y la integracion de API de Google Maps</p>
        <section>
          <img id="muestra" src="https://github.com/adrigalvanf/port/blob/main/Captura%20de%20pantalla%202023-04-20%20112937.png?raw=true">
        <img id="muestra" src="https://github.com/adrigalvanf/port/blob/main/Captura%20de%20pantalla%202023-04-20%20112953.png?raw=true">
        <img id="muestra" src="https://github.com/adrigalvanf/port/blob/main/Captura%20de%20pantalla%202023-04-20%20113004.png?raw=true">
        <img id="muestra" src="https://github.com/adrigalvanf/port/blob/main/Captura%20de%20pantalla%202023-04-20%20113011.png?raw=true">
        <img id="muestra" src="https://github.com/adrigalvanf/port/blob/main/Captura%20de%20pantalla%202023-04-20%20113023.png?raw=true">
        <img id="muestra" src="https://github.com/adrigalvanf/port/blob/main/Captura%20de%20pantalla%202023-04-20%20113405.png?raw=true">
  
        </section>
      <button><a href="https://github.com/adrigalvanf/Appviajes.git">Ver repositorio</a></button>  
        
</div></li>
  <li>
    <div class="container-fluid" id="clima">
      <br>
      <h3>App de Clima</h3>
      <p>Buscar Informacion sobre el clima, por ciudad.<br>
      Usando HTML, CSS, JavaScript y API de OpenWeatherClima</p>
      <section>
        <img id="muestra" src="https://github.com/adrigalvanf/port/blob/main/Captura%20de%20pantalla%202023-04-20%20102728.png?raw=true">
      <img id="muestra" src="https://github.com/adrigalvanf/port/blob/main/Captura%20de%20pantalla%202023-04-20%20102811.png?raw=true">
      <img id="muestra" src="https://github.com/adrigalvanf/port/blob/main/Captura%20de%20pantalla%202023-04-20%20102831.png?raw=true">
      <img id="muestra" src="https://github.com/adrigalvanf/port/blob/main/Captura%20de%20pantalla%202023-04-20%20102851.png?raw=true">

      </section>
      
      
    <button><a href="https://github.com/adrigalvanf/Appclima.git">Ver repositorio</a></button>     
</div>

  </li>
</ul>

