#skills{
    margin-top: 0%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#lenguajes {
    margin-top: 5%;
}
h1{
    margin-left: 25%;
}
img{
    height: 40px;
    width: 40px;
}
h2{
    margin-top: 3%;
}