<body>
    <div id="primero" class="container-fluid">
      <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="#" ></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Mi Portfolio</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#aboutme">About Me</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#education">Educación</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#proyecto">Proyectos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contacto</a>
                </li>
                <li class="nav-item dropdown">
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <br>
    <br>
    <div id="segundo" class="container"> 
      <ul id="uno">
        <li><img id="foto"   width="200" height="190" alt=""src="https://github.com/adrigalvanf/port/blob/main/C7320B9E-DC72-43B6-B6BD-DFCDF645B467.JPEG?raw=true"></li>
        <li id="sub">
          <ul id="dos">
            <li><p id="nombre">  Adriana Galvan </p><p> Programadora Full-Stack Junior</p></li>
            <li></li>
           
          </ul>
        </li>   
      </ul>  
    </div>
    <div>
      <aboutme id="#aboutme"></aboutme>
    </div>
    <div>
      <skills id="#skills"></skills>
    </div>
    <div>
      <educacion id="#education"></educacion>
    </div>
    <div>
      <proyectos id="proyecto"></proyectos>
    </div>
    <div>
      <contacto id="#contact"></contacto>
    </div>
    
    
    
     
    </body>