#aboutme{
    background-color: rgb(30, 2, 50);
    color: white;
    margin-top:20%;
    height: 350px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    margin-left: 40%;
    margin-top: 5%;
}
h1{
    margin-left:25%;
}

h1:hover{
    color: rgb(179, 182, 184);

}