<div id="aboutme" class="container-fluid">
    <h1>Sobre Mi </h1>
    <p>Como desarrollador web Full Stack con experiencia en ingeniería química, 
        tengo una amplia gama de habilidades técnicas y creativas para abordar problemas complejos de manera efectiva. 
        Con solo 25 años, decidí cambiar mi carrera hacia la programación porque encontré en ella una pasión y un reto constante. 
        A través de mi formación y experiencia laboral, he logrado desarrollar habilidades como la resolución de problemas, 
        el trabajo en equipo y la capacidad de aprender nuevas tecnologías con rapidez y eficiencia. 
        Además, he participado en proyectos en los que he utilizado herramientas y tecnologías como HTML, CSS, JavaScript, Angular, GitHub, 
        PHP y bases de datos SQL y NoSQL. </p>
</div>